{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<header id="home-header">
    <div id="header-img"></div>
    <h1>SUBL'IMMO</h1>
    <h2>L'agence immobilère 100 % en ligne</h2>
</header>

<main class="container-fluid p-5">

    <div class="row">
        <div class="col-12">
            <h2>Les logements</h2>
        </div>
    </div>

    <div class="row">
        {#affichage des 6 dernieres maisons #}
    </div>

    <div class="row">
        <div class="col-12 text-center pt-5">
             <a href="#" class="btn btn-secondary">Voir tout</a>
        </div>
    </div>
</main>
{% endblock %}
