{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<header id="home-header">
    <div id="header-img"></div>
    <h1>SUBL'IMMO</h1>
    <h2>L'agence immobilère 100 % en ligne</h2>
</header>

{% endblock %}
