/* ******************** HOME - HEADER ******************** */

#home-header #header-img {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

    #home-header h1,
    #home-header h2 {
        position: absolute;
        top: 8%;
        width: 100%;
        text-align: center;
        font-weight: lighter;
    }

    #home-header h2 {
        top: 91%;
    }
